html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

.overlay {
  position: relative;
}
.Heroslide {
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
.overlay:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background: rgba(#222, 0.4);
}
.Img {
  height: 100vh;
  width: 100%;
  background-color: rgba(#222, 0.4);
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 50px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}
.Img::before {
  background: rgba(34, 34, 34, 0.4);
}

.heading {
  position: relative;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 30px;
  font-weight: 600;
}
.formcontrol {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 1rem;
  border: none;
  border-radius: 30px;
  position: relative;
  transform: translateZ(1);
}
.formcontrol:hover,
.formcontrol:active,
.formcontrol:focus {
  outline: none;
  box-shadow: none;
}
.btn {
  background-color: #005555;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  font-size: 1rem;
  border-radius: 30px;
  border: none !important;
  display: inline-block;
  top: 0;
  position: relative;
  z-index: 1;
  transition: 0.3s all ease;
}
.btn:hover {
  top: -2px;
}

.formsearch {
  display: flex !important;
  max-width: 600px;
  margin: 0 auto;
}
.row {
  display: flex;
  height: 100vh;
  min-height: 600px;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

@media screen and (max-width: 81em) {
  html {
    font-size: 93%;
  }
}

@media screen and (max-width: 75em) {
}

@media screen and (max-width: 68em) {
}

@media screen and (max-width: 59em) {
}

@media screen and (max-width: 67.75em) {
}

@media screen and (max-width: 59.0625em) {
}

@media screen and (max-width: 49em) {
}

@media screen and (max-width: 41.875em) {
}

@media screen and (max-width: 36.25em) {
}

@media screen and (max-width: 30em) {
}
